[submodule "project/nas_benchmarks"]
path = project/nas_benchmarks
url = https://github.com/jdonovanCS/nas_benchmarks
[submodule "project/nasbench"]
path = project/nasbench
url = https://github.com/jdonovanCS/nasbench
